header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #99ccff;
  align-items: center;
}
 
.title {
  margin-right: auto;
  text-decoration: underline;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: azure;
}

.color{
 text-decoration: none;
 color: black;
}
